

.stickyBar{
	position:fixed;
	top:0;
	width:100%;

}

.stickyBar li{
	float:left;
	padding-left:20px;
	padding-top: 20px;
	border-radius: 30px;
	
}

.googleLogo{
	width:100px;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

input[type=text]{
	width: 500px;
	height:40px;
	position:relative;
	border-radius:30px;
}

a {
	text-decoration: none;
}

.subBody{
	position:absolute;
	top:70px;
	left:12%;
}

.subHeader{
	position:relative;
	padding-top:20px;
}
.subHeader li{
	float:left;
	display:block;
	padding:5px;
}

.subHeader li a{
	
}

.resultsTime{
	position:relative;
	padding-bottom:10px;
	top:15px;
	right:38%;
}

.topResults h2{
	color:#1475e1;
	margin-bottom: 0px;
	padding-bottom: 0px;

}


