ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

.stickyBar{
	position:fixed;
	top:0;
	width:100%;

}

.stickyBar li{
	float:left;
	padding-left:20px;
	padding-top: 20px;
	border-radius: 30px;
}

.googleLogo{
	width:100px;
}

.subBody{
	position:relative;
	top:30px;
}

input[type=text]{
	width: 500px;
	height:40px;
	position:relative;
	border-radius:30px;
}
}

.subHeader li{
	float:left;
	position:relative;

}

.resultsTime{
	position:relative;
}
