ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

.stickyBar{
	position:fixed;
	top:0;
	width:100%;

}

.stickyBar li{
	float:left;
	padding-left:20px;
	padding-top: 20px;
	
}

.googleLogo{
	width:100px;
}

