body{

}

ul{
	list-style-type: none;
	margin: 0:
	padding: 0;
}

.header ul{
	position: fixed;
	top:0;
	width:100%;
}

.leftHeader li {
	float: left;
}

.rightHeader li {
	float: right;
}

li {
	display: block;
	padding: 5px;
}

.searchArea {
	position: fixed;
	top:30%;
	left:50%;
}

.logo {
	width:400px;
	position: relative;
	left:-40%;
}

input[type=text]{
	height:40px;
	width:500px;
	position:relative;
	left:-50%;
	border: 1px solid grey;
	border-radius: 30px;
	margin-top: 20px;
}



.footer ul{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.leftFooter li{
	float: left;
}

.rightFooter li{
	float: right;
}