body{
	/*width: 960px;*/
}

ul{
	list-style-type: none;
	margin:0:
	padding:0;
}

.leftHeader li {
	float: left;
}

.rightHeader li {
	float: right;
}

li a{
	padding: 8px;
	text-decoration: none;
	color: #353535;
}

.settingsicon {
	position: relative;
	top:-16px;
}

.searchArea{
	position: relative;
	top: 170px;
	left: 550px;
}

.logo{
	width:350px;
	position: relative;
	right: 220px;
}

.footer li{
	float: left;
}



