body{
	/*width: 960px;*/
}

ul{
	list-style-type: none;
	margin:0:
	padding:0;
}

.leftHeader li {
	float: left;
}

.rightHeader li {
	float: right;
	margin-left: 10px;
}

li a{
	padding: 8px;
	text-decoration: none;
	color: #353535;
}

.settingsicon {
	position: relative;
	top:-10px;
	width: 30px;
}
.notificationicon {
	position: relative;
	width: 30px;
	top:-8px;
}
.usericon {
	position: relative;
	width: 30px;
	top:-8px;
}

.searchArea{
	position: relative;
	top: 170px;
	left: 550px;
}

.logo{
	width:350px;
	position: relative;
	right: 220px;
}

input[type=text]{
	height: 40px;
	width: 600px;
	position: relative;
	right:15%;
	border: 1px solid grey;
	border-radius: 3px;
	margin-top: 30px;
}


button {
	display: inline-block;
	background-color: #F4F4F4;
	border: none;
	color: #6B6B6B;
	text-align: center;
	font-size: 15px;
	padding: 10px 25px;
	border-radius: 2px;

	position: relative;
	right: 2%;
	margin-top: 30px;
	margin-right: 10px;
}

.footer {
	position: relative;
	top: 320px;
	height: 50px;
	background-color: #F4F4F4;

}

.footer li a{
	color: #6B6B6B;
	text-align: center;
	position: relative;
	top: 10px;
}

.leftFooter li{
	float: left;

}
.rightFooter li{
	float: right;
}





